header{
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  padding: 20px 0 50px;
  background-size: cover;
  .container{
    .logo{
      display: inline-block;
      margin: 0 0 0 4px;
    }
    .text_block{
      width: 100%;
      margin: 20px 0 0;
      h1{
        font-size: 30.9px;
        font-weight: 800;
        line-height: 35px;
        letter-spacing: 1.8px;
        color: #f7f7f7;
        font-family: 'OpenSans-Bold';
        span{
          font-size: inherit;
          line-height: inherit;
          font-weight: inherit;
          color: inherit;
          letter-spacing: 1.1px;
          font-family: 'OpenSans-BoldItalic';
        }
      }
      p{
        font-size: 21.7px;
        font-weight: 700;
        line-height: 25px;
        margin: 15px 0 15px 0px;
        color: #f7f7f7;
        letter-spacing: 0.6px;
        font-family: 'OpenSans-Bold';
      }
    }
    .form_block{
      background-color: #ffffff;
      box-shadow: 0px 10px 26px 3px rgba(143,143,143,0.3);
      max-width: 651px;
      margin: 0 auto;
      .title_form{
        font-size: 19.2px;
        font-weight: 600;
        line-height: 27px;
        display: block;
        padding: 20px 11px 20px 10px;
        text-align: center;
        letter-spacing: .8px;
        color: #fff;
        background-color: #f60;
      }
      form{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px 10px 30px 10px;
        input{
          font-size: 15px;
          font-weight: 400;
          line-height: 17px;
          width: 100%;
          margin: 0 0 15px;
          padding: 10px 10px;
          color: #666565;
          border: 1px solid #f60;
        }
        textarea{
          font-size: 15px;
          font-weight: 400;
          line-height: 17px;
          width: 100%;
          color: #666565;
          border: 1px solid #f60;
          min-height: 100px;
          margin: 0 0 30px;
          padding: 10px 10px;
        }
        button{
          font-size: 20px;
          font-weight: 400;
          width: 250px;
          margin: 0 auto;
          padding: 12px 5px 12px;
          color: #fff;
          background-color: #00adef;
          box-shadow: 0px 10px 26px 3px rgba(143,143,143,0.3);
          cursor: pointer;
        }
      }
    }
  }
}
.section_1{
  background-color: #ffffff;
  padding: 50px 0 0px;
  position: relative;
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .img{
      width: 100%;
      order: 2;
      img{
        width: 300px;
        display: block;
        margin: 0 auto;
      }
    }
    .text{
      width: 100%;
      padding: 0 0 0 7px;
      order: 1;
      h3{
        font-size: 21.7px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 1.7px;
        color: #00adef;
        span{
          color: #ff6600;
          font-size: inherit;
          line-height: inherit;
          font-weight: inherit;
        }
      }
      ul{
        margin: 10px 0 0;
        padding: 0 0px 0 0;
        li{
          font-family: 'MyriadPro-Regular';
          font-size: 15.9px;
          font-weight: 400;
          line-height: 26px;
          position: relative;
          margin: 0 0 5px;
          padding: 0;
          text-align: justify;
          text-indent: 13px;
          color: #666565;
          &:before{
            position: absolute;
            left: -10px;
            content: '\e801';
            color: #666565;
            font-size: 5px;
            font-family: 'fontello';
          }
        }
      }
    }
  }
}
.section_2{
  background-image: url("../img/section2_bg.png");
  background-repeat: no-repeat;
  padding: 50px 0 50px;
  background-size: cover;
  .container{
    .title{

    }
    .text_box{
      width: 100%;
      margin: 20px auto 0;
      .box{
        position: relative;
        padding: 7px 5px 10px 45px;
        .icon-check{
          position: absolute;
          left: 3px;
          top: 0;
          width: 26px;
          height: 26px;
          background-color: #fc7423;
          box-shadow: 0px 3px 19px 2px rgba(143,143,143,0.56);
          border-radius: 50%;
          z-index: 1;
          &:before{
            font-size: 19px;
            color: #fff;
            left: 50%;
            top: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
           }
        }
        .line{
          position: absolute;
          width: 2px;
          height: 100%;
          background-color: #ffffff;
          left: 15px;
          z-index: 0;
        }
        h4{
          font-size: 19.2px;
          font-weight: 600;
          line-height: 27px;
          letter-spacing: .7px;
          color: #fff;
          span{
            color: #fc7423;
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
          }
        }
        p{
          font-size: 13.9px;
          font-weight: 400;
          line-height: 25px;
          margin: 15px 0 5px;
          color: #fff;
        }
      }
    }
  }
}
.section_3{
  background-color: #e0e0e0;
  padding: 50px 0 50px;
  .container{
    .title{
      transform: translate(6px,0);
      letter-spacing: 2.4px;
    }
    p{
      font-size: 16.2px;
      font-weight: 400;
      line-height: 23px;
      margin: 5px 0 30px;
      text-align: center;
      letter-spacing: .2px;
      color: #666565;
    }
  }

}
.section_4{
  background-color: #ffffff;
  padding: 63px 0 53px 0;
  .container{
    .link{
      display: flex;
      width: 100%;
      margin: 0 auto;
      padding: 0 0px 0 1px;
      justify-content: space-between;
      flex-wrap: wrap;
      a{
        width: 100%;
        margin: 0 auto 10px;
        img{
          width: auto;
          margin: 0 auto;
          max-width: 100%;
          display: block;

        }
      }
    }
  }
}

@media (min-width: 768px){

}
@media (min-width: 1024px){
  .section_3{

  }
  .section_4{

    .container{
      .link{

        a{
          width: 50%;
          margin: 0;

          img{
            margin: 0 auto;

          }
        }
      }
    }
  }
}
@media (min-width: 1280px){
  header{
    padding: 42px 0 150px;
    .container{
      .text_block{
        width: 50%;
        margin: 97px 0 0 0;
        h1{
          font-size: 70.9px;
          line-height: 79px;

          span{


          }
        }
        p{
          font-size: 40.7px;
          line-height: 41px;
          margin: 18px 0 5px 6px;
        }
      }
      .form_block{
        position: absolute;
        top: 57px;
        right: 3px;
        z-index: 1;
        width: 520px;
        .title_form{
          font-size: 29.2px;
          line-height: 37px;
          padding: 53px 49px 55px 48px;
          text-align: center;
          letter-spacing: 0.8px;
        }
        form{
          padding: 35px 40px 35px 40px;
          input{
            font-size: 25px;
            line-height: 37px;
            padding: 17px 24px 17px 24px;
            margin: 0 0 21px 0;
          }
          textarea{
            font-size: 25px;
            line-height: 37px;
            padding: 14px 24px 14px 24px;
            min-height: 205px;
            margin: 0 0 50px 0;
          }
          button{
            font-size: 25px;
            width: 293px;
            margin: 0 auto;
            padding: 12px 5px 18px 5px;
          }
        }
      }
    }
  }
  .section_1{
    padding: 280px 0 30px;
    .container{
      .img{
        width: 40%;
        order: 1;
        img{
          position: absolute;
          left: 0;
          transform: translate(-100px,31px);
          bottom: 0;
          width: 60%;
        }
      }
      .text{
        width: 45%;
        padding: 0 0 0 7px;
        order: 2;
        h3{
          font-size: 41.7px;
          line-height: 41px;
          letter-spacing: 1.7px;
        }
        ul{
          margin: 30px 0 0 0;
          padding: 0px 24px 0 0;
          li{
            font-size: 20.9px;
            font-weight: 400;
            line-height: 37px;
            padding: 0 0px 0 0px;
            margin: 0px 0 13px 0;
            text-indent: 13px;
            letter-spacing: 1px;
            &:before{

            }
          }
        }
      }
    }
  }
  .section_2{

    padding: 119px 0 45px;
    .container{
      .title{
        letter-spacing: 2px;
        transform: translate(-8px, 0px);
      }
      .text_box{
        margin: 82px auto 0;
        width: 61%;
        .box{
          padding: 7px 30px 18px 97px;
          .icon-check{
            position: absolute;
            left: 3px;
            top: 0;
            width: 48px;
            height: 48px;
            &:before{
              font-size: 27px;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .line{
            left: 26px;
            z-index: 0;
          }
          h4{
            font-size: 29.2px;
            line-height: 37px;
            letter-spacing: 0.7px;

          }
          p{
            font-size: 20.9px;
            line-height: 29px;
            margin: 15px 0 5px 0;
          }
        }
      }
    }
  }
  .section_3{
    padding: 137px 0 145px;
    .container{
      .title{

        letter-spacing: 2.4px;
      }
      p{
        font-size: 29.2px;
        line-height: 37px;
        margin: 35px 3px 102px 0;
        letter-spacing: 0.2px;
      }
    }
  }
  .section_4{
    padding: 63px 0 53px 0;
    .container{
      .link{
        padding: 0 ;
        width: 100%;
      }
    }
  }
}
@media (min-width: 1400px) {
  .section_1{
    padding: 360px 0 30px;

  }
  .section_3{
    padding: 137px 0 145px;

  }

}
@media (min-width: 1920px) {
  header{

    padding: 42px 0 150px;
    .container{
      .logo{

        margin: 0 0 0 4px;
      }
      .text_block{
        width: 50%;
        margin: 97px 0 0 0;
        h1{


          span{

          }
        }
        p{

        }
      }
      .form_block{

        top: 57px;
        right: 3px;
        width: 651px;

        .title_form{

        }
        form{

          padding: 54px 84px 57px 82px;
          input{

            padding: 17px 24px 17px 24px;

          }
          textarea{

            padding: 14px 24px 14px 24px;
            min-height: 205px;
            margin: 0 0 50px 0;
          }
          button{

          }
        }
      }
    }
  }
  .section_1{

    padding: 470px 0 143px 0;

    .container{
      .img{
        img{
          transform: translate(-161px,144px);
          width: auto;
        }
      }
      .text{

        h3{

          span{

          }
        }
        ul{

          li{

            &:before{

            }
          }
        }
      }
    }
  }
  .section_2{

    padding: 119px 0 145px 0;

  }
  .section_3{
    padding: 140px 0 145px;
    .container{
      .title{

      }
      p{

      }
    }
  }
  .section_4{

    padding: 63px 0 53px 0;
    .container{
      .link{
        width: 100%;
        padding: 0 154px 0 172px;
      }
    }
  }
}