@import "libs/fonts";
@import "libs/fontello";
@import 'libs/slick';

body {
    position: relative;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans-Regular';
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #282828;
    list-style: none;
}
textarea {
    resize: none;
}
button{
    border: none;
}
.title{
    font-family: 'OpenSans-Regular';
    font-size: 62.5px;
    line-height: 62px;
    font-weight: 700;
    color: #00adef;
    text-align: center;
    span{
        color: #fc7423;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
    }
}
.slick-arrow{
    width: 47px;
    height: 48px;
    background-color: #ff6600;
    box-shadow: 0px 3px 19px 2px rgba(143,143,143,0.56);
    position: absolute;
    cursor: pointer;
    transform: translate(0px, -50%);
    border-radius: 50%;
    &.next{
        right: 0;
        top: 38%;
        &:before{
            content: '\e806';
            font-family: 'fontello';
            color: #ffffff;
            font-size: 22px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &.prev{
        left: 4px;
        top: 37%;
        &:before{
            content: '\e807';
            font-family: 'fontello';
            color: #ffffff;
            font-size: 22px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;

}

@media (min-width: 768px){
    .container {
        width: 648px;
        padding: 0;

    }
}
@media (min-width: 1024px){
    .container {
        width: 864px;
    }
}
@media (min-width: 1280px){
    .container {
        width: 1080px;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1920px) {
    .container {
        width: 1448px;
    }
}